version: '3'
services:
  ganache:
    build: ./ganache
    container_name: ganache
    ports:
      - "8545:8545"
    entrypoint:
      - ganache-cli
      - --mnemonic
      - 'belt prize arrow cabbage banner proof word above ability helmet design rely'
  solditiy:
    build: ./solidity
    container_name: solidity
    tty: true
    volumes:
      - ./solidity:.
    depends_on:
      - ganache
